<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Overtreding</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h2>Search overtreding by opnameplaats_straat</h2>

    <form action="/search" method="POST">
      opnameplaats_straat : <input type="text" name="opnameplaats_straat" /><br /><br />
      <button type="submit">Search</button>
    </form>

    <br />
    <br />
    <br />
    <h2>Search overtreding by aantal_overtredingen_snelheid</h2>

    <form action="/search2" method="POST">
      aantal_overtredingen_snelheid : <input type="text" name="aantal_overtredingen_snelheid" /><br /><br />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
